*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#f3f3f3;
    background:url(./img/wave2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: -10rem;
}